extends layout

block content
  a(href="/main") Back to main page

  h2 All Games (#{games.length})

  form(action="/games/add" method="POST" autocomplete="off")
    p
      div(class="autocomplete")
          input(id="gamesearch" name="game_name" type="text" required placeholder="Game Name")
      input(name="playlist_url" type="text" required placeholder="YouTube Playlist URL")
      input(name="source_url" type="hidden" value="/games")
      button(type="submit") Add Game
      input(name="addtouser" type="checkbox" checked)
      | Add to my library

  if errortext
    p(style={color: 'red'}) #{errortext}

  ul
    each game in games
      li(class="gameitem")
        input(class="checkmark" type="checkbox" checked=currentuser.games.includes(game._id) name=game.game_name)
        a(href="/games/" + encodeURIComponent(game.game_name)) #{game.game_name}

  form(id="addform" action="/users/" + currentuser.username + "/add" method="POST")
    input(name="game_name" type="hidden" id="addgamename")
    input(name="source_url" type="hidden" value="/games")

  form(id="removeform" action="/users/" + currentuser.username + "/remove" method="POST")
    input(name="game_name" type="hidden" id="removegamename")
    input(name="source_url" type="hidden" value="/games")

  script(src="/javascript/xhttp.js")
  script.
    var addform = document.getElementById("addform");
    var addgamename = document.getElementById("addgamename");

    var removeform = document.getElementById("removeform");
    var removegamename = document.getElementById("removegamename");

    var items = document.getElementsByClassName("gameitem");

    for (item of items)
    {
      var checkmark = item.getElementsByClassName("checkmark")[0];

      if (checkmark)
      {
        checkmark.onclick = function()
        {
          if (this.checked)
          {
            addgamename.value = this.name;
            xhttpAsyncForm("/users/#{currentuser.username}/add", new FormData(addform));
          }
          else
          {
            removegamename.value = this.name;
            xhttpAsyncForm("/users/#{currentuser.username}/remove", new FormData(removeform));
          }
        }
      }
    }
  
  script(src="/javascript/searchgames.js")

  script.
    autocomplete(document.getElementById("gamesearch"));
