extends layout

block content
  a(href="/main") Back to main page
  br
  a(href="/games") Back to all games
  br
  a(href="/users/" + currentuser.username) Back to my games library

  h2 Game: #{game.game_name}

  p
    form(action="/games/edit" method="POST")
      | Name: 
      span(id="game_name_display")
        | #{game.game_name} 
        input(id="edit_name" type="button" value="✏️")
      span(id="game_name_edit" hidden)
        input(id="input_name" name="game_name" type="text" value=game.game_name required)
        input(type="submit" value="✔️")
        input(id="cancel_name" type="button" value="❌")
      input(name="old_game_name" type="hidden" value=game.game_name)
      input(name="source_url" type="hidden" value="/games/" + encodeURIComponent(game.game_name))
    form(action="/games/edit" method="POST")
      | Playlist URL: 
      span(id="playlist_url_display")
        a(href="https://www.youtube.com/playlist?list=" + game.playlist_id) https://www.youtube.com/playlist?list=#{game.playlist_id}
        |  
        input(id="edit_url" type="button" value="✏️")
      span(id="playlist_url_edit" hidden)
        input(id="input_url" name="playlist_url" type="text" value="https://www.youtube.com/playlist?list=" + game.playlist_id required)
        input(type="submit" value="✔️")
        input(id="cancel_url" type="button" value="❌")
      input(name="old_game_name" type="hidden" value=game.game_name)
      input(name="source_url" type="hidden" value="/games/" + encodeURIComponent(game.game_name))

  script.
    var game_name_display = document.getElementById("game_name_display");
    var edit_name = document.getElementById("edit_name");

    var game_name_edit = document.getElementById("game_name_edit");
    var input_name = document.getElementById("input_name");
    var cancel_name = document.getElementById("cancel_name");

    edit_name.onclick = function()
    {
      input_name.value = "#{game.game_name}";
      game_name_display.hidden = true;
      game_name_edit.hidden = false;

      playlist_url_display.hidden = false;
      playlist_url_edit.hidden = true;
    }
    cancel_name.onclick = function()
    {
      game_name_display.hidden = false;
      game_name_edit.hidden = true;
    }

    var playlist_url_display = document.getElementById("playlist_url_display");
    var edit_url = document.getElementById("edit_url");

    var playlist_url_edit = document.getElementById("playlist_url_edit");
    var input_url = document.getElementById("input_url");
    var cancel_url = document.getElementById("cancel_url");

    edit_url.onclick = function()
    {
      input_url.value = "https://www.youtube.com/playlist?list=#{game.playlist_id}"
      playlist_url_display.hidden = true;
      playlist_url_edit.hidden = false;

      game_name_display.hidden = false;
      game_name_edit.hidden = true;
    }
    cancel_url.onclick = function()
    {
      playlist_url_display.hidden = false;
      playlist_url_edit.hidden = true;
    }
    
  p
    | Correct guesses: #{game.correct_guesses}
    br
    | Total guesses: #{game.total_guesses}
    br
    | Correct percentage: #{game.correct_fraction * 100}  
    if game.easy
      span(style={'background-color': 'green'})
        | Easy
    if game.medium
      span(style={'background-color': 'yellow'})
        | Medium
    if game.hard
      span(style={'background-color': 'red'})
        | Hard

  if currentuser.games.includes(game._id)
    form(action="/users/" + currentuser.username + "/remove" method="POST")
      input(name="game_name" type="hidden" value=game.game_name)
      input(name="source_url" type="hidden" value="/games/" + encodeURIComponent(game.game_name))
      button(type="submit") Remove from my library
  else
    form(action="/users/" + currentuser.username + "/add" method="POST")
      input(name="game_name" type="hidden" value=game.game_name)
      input(name="source_url" type="hidden" value="/games/" + encodeURIComponent(game.game_name))
      button(type="submit") Add to my library

  h3 Songs (#{songs.length})

  ol
    each song in songs
      li(class="songitem")
        input(class="checkmark" type="checkbox" checked=(!song.blocked && song.allowed) disabled=(!song.blocked && !song.allowed) name=song._id)
        if song.restricted
          | 🚫
        if song.short
          | ⏩
        a(href="https://www.youtube.com/watch?v=" + song.video_id + "&list=" + game.playlist_id target="_blank") #{song.title}
        |  (#{song.views} views, #{song.likes} likes)

  form(action="/games/remove" method="POST" onsubmit="return confirm('Delete this game?');")
    p
      input(name="game_name" type="hidden" value=game.game_name)
      input(name="source_url" type="hidden" value="/games")
      button(type="submit" style={color: 'red'}) Delete Game
  
  form(id="blockform" action="/games/block" method="POST")
    input(name="game_name" type="hidden" id="blockname" value=game.game_name)
    input(name="id" type="hidden" id="blockid")
    input(name="source_url" type="hidden" value="/games/" + encodeURIComponent(game.game_name))

  form(id="unblockform" action="/games/unblock" method="POST")
    input(name="game_name" type="hidden" id="unblockname" value=game.game_name)
    input(name="id" type="hidden" id="unblockid")
    input(name="source_url" type="hidden" value="/games/" + encodeURIComponent(game.game_name))

  script(src="/javascript/xhttp.js")
  script.
    var blockform = document.getElementById("blockform");
    var blockid = document.getElementById("blockid");

    var unblockform = document.getElementById("unblockform");
    var unblockid = document.getElementById("unblockid");

    var items = document.getElementsByClassName("songitem");

    for (item of items)
    {
      var checkmark = item.getElementsByClassName("checkmark")[0];

      if (checkmark)
      {
        checkmark.onclick = function()
        {
          if (this.checked)
          {
            unblockid.value = this.name;
            xhttpAsyncForm("/games/unblock", new FormData(unblockform));
          }
          else
          {
            blockid.value = this.name;
            xhttpAsyncForm("/games/block", new FormData(blockform));
          }
        }
      }
    }
  
  script(src="/javascript/searchgames.js")
