extends layout

block content
  a(href="/main") Back to main page
  br
  a(href="/games") Back to all games
  br
  a(href="/users/" + currentuser.username) Back to my games library

  h2 Game: #{game.game_name}

  if currentuser.games.includes(game._id)
    form(action="/users/" + currentuser.username + "/remove" method="POST")
      input(name="game_name" type="hidden" value=game.game_name)
      input(name="source_url" type="hidden" value="/games/" + encodeURIComponent(game.game_name))
      button(type="submit") Remove from my library
  else
    form(action="/users/" + currentuser.username + "/add" method="POST")
      input(name="game_name" type="hidden" value=game.game_name)
      input(name="source_url" type="hidden" value="/games/" + encodeURIComponent(game.game_name))
      button(type="submit") Add to my library

  h3 Songs (#{playlist.songs.length})

  p
  | Playlist Title: #{playlist.title}
  br
  | URL: 
  a(href="https://www.youtube.com/playlist?list=" + playlist.id) https://www.youtube.com/playlist?list=#{playlist.id}

  ol
    each song in playlist.songs
      li
        a(href="https://www.youtube.com/watch?v=" + song.id + "&list=" + playlist.id target="_blank") #{song.title}
        |  (#{song.views} views, #{song.likes} likes, weight = #{song.weight})

  form(action="/games/remove" method="POST" onsubmit="return confirm('Delete this game?');")
    p
      input(name="game_name" type="hidden" value=game.game_name)
      input(name="source_url" type="hidden" value="/games")
      button(type="submit" style={color: 'red'}) Delete Game